body{
    margin: 0%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-family: 'ubuntu';
}

.container{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    width: 700px;
    aspect-ratio: 7/10;
    border: 3px solid red;
}

.child{
    width: auto;
}

.img{
    background-image: url(/ABDCV/IMG_20230504_162805.jpg);
    background-size: contain;
    border: 7px solid black;
    border-radius: 50%;
    margin: 30px 50px;
    position: absolute;
    width: 150px;
    height: 150px;
}

.first{
    background-color: white;
}

.second{
    background-color: black;
}

.twogrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twogrid div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    display: block !important;
}

.box{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 149, 0);
}

.heading{
    background-color:  rgb(255, 149, 0);
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0%;
    padding: 0%;
}

p{
    font-size: 11px;
}

.block{
    display: block !important;
}

.second{
    padding: 0px 20px;
    align-items: center;
}


.links{
    padding: 15px;
    height: fit-content;
    width: auto;
    border-top: 3px solid white;
}